.modal.show{
    .modal-dialog{
        max-width:850px;
        width:100%;
        border-radius: 6px;
        .modal-content{
            .modal-header{
                background-color:$pink;
                padding: 20px 30px;
                h1{
                    color:$white;
                    font-family: $fontHead;
                    letter-spacing: 0;
                    padding-left:20px;
                    text-transform: uppercase;
                    font-size: 22px;
                }
                .btn-close{
                    color: $white !important;
                    opacity:1;
                    background: transparent;
                }
            }
            .modal-body{
                padding:30px;
                select, .form-control{
                    @include inputFeild ;
                    @include border(1px, #ccc);
                    border-radius:6px !important;
                    width:100% !important;
                    margin-bottom:20px !important;
                    z-index:9999999;
                }
                h4{
                    font-size:20px;
                    text-transform: uppercase;
                    margin-bottom:0;
                    img{
                        margin-right:20px;
                    }
                }

            }
            .modal-footer{
                button{
                    @include btn;
                    padding: 12px 40px;
                    margin-left: 25px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.accordion-button:not(.collapsed) {
    color: $pink;
}


// custom select
.wrapper {
    margin: 1em auto;
    text-align: left;
  }
  .sample {
    // border: 1px solid #eeeeee;
    // background: #ffffff;
    // max-width: 30em;
    // padding: 1em;
    margin-bottom: 1em;
  }
  .custom-select {
    position: relative;
    margin-bottom: 25px ;
  }
  .select-css {
    display: block;
    font-size: 15px;
    color: #c25d6f;
    line-height: 1.3;
    padding: 10px 25px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #cecece;
    border-radius: 6px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
  }
  .select-css::-ms-expand {
    display: none;
  }
  .select-css:hover {
    border-color: #888;
  }
  .select-css:focus {
    // border: 2px dashed blue;
    // color: #222;
    outline: none;
  }
  .custom-select-icons {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    // z-index: 20;
    border: 1px solid white;
    background: transparent;
  }
  .custom-select-options {
    border: 1px solid #cecece;
    border-radius: 0 0 0.25em 0.25em;
    line-height: 1.5;
    margin: 0;
    margin-top: -4px;
    padding: 0;
    list-style-type: none;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    width: calc(100% - 1px);
    background-color: #ffffff;
    height: 300px;
    overflow-y: scroll;
  }
  .custom-select-options li {
    line-height: 15px;
    padding: 5px 25px;
    font-size: 14px;
  }
  .custom-select-options li:hover {
    background: $pink;
    color: #fff;
    border: 1px solid $pink;
    border-width: 0 0 0 1px;
  }
  
  .custom-select-options li:focus {
    border: 1px solid $pink;
  }
  .icon {
    fill: ButtonText;
    pointer-events: none;
  }
  @media screen and (-ms-high-contrast: active) {
    .icon {
      fill: ButtonText;
    }
  }
  .hidden-all {
    display: none;
  }
  .hidden-visually {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }
  

  #eighteenPlus {
    .modal-dialog{
      width: 550px;
      .modal-content{
        padding: 20px 25px;
        .btn-close{
          background: transparent;
          position: absolute;
          right: 25px;
        }
        .modal-body{
          padding: 30px 0 15px;
          text-align: center;
          ul{
            text-align: left;
            font-size: 13px;
            list-style: decimal;
            li{
              margin-bottom: 10px;
            
            }
          }
          .modal-footer{
            button{
              @include btn;
              padding: 12px 40px;
              margin-left: 25px;
              text-transform: uppercase;
            }
            button.b2{
              background-color: $white;
            }
          }
        }
      }
    }
  }



  // post ad

.post-ad{
  text-align: left;
  #heading {
    color: $pink;
    text-align: center;
    font-weight: 700;
  }
  #msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
    #progressbar {
      margin: 30px 0;
      overflow: hidden;
      color: lightgrey;
      padding-left: 0;
    }
  }
}

.fs-title {
  font-size: 22px;
  color: $pink;
  margin-bottom: 30px;
  font-weight: normal;
  text-align: left;
}


#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

.form-card {
  text-align: left;
  padding: 50px 35px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 8%;
  position: relative;
  select{
    @include inputFeild;
    width:100%;
    margin-bottom: 20px;
    border-radius:6px;
  }
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform input,
#msform textarea {

  width:100%;
  margin-bottom: 20px;
  border-radius:6px;
}
textarea{
  height:100px;
  padding:10px 10px;
  margin-bottom: 20px;
  border-radius:6px;
  border:1px solid #cecece;
}
.filt{
  padding: 10px;
  h2{
    span{

      font-size:20px;
    }
    img{
      margin-right:10px;
      width:22px
    }
  }
  p{
    margin-bottom:0
  }
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid $pink;
  outline-width: 0;
}

#msform .action-button {
  width:15%;
  background: $pink;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 25px;
  margin: 10px 0px 10px 5px;
  float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: $white;
  border: 1px solid $pink;
  color:$pink
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000;
}

.card {
  z-index: 0;
  border: none;
  position: relative;
}

.re{
  color: #ccc;
}

.purple-text {
  color: #673ab7;
  font-weight: normal;
}

.steps {
  font-size: 20px;
  color: $pink;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

.fieldlabels {
  color: gray;
  text-align: left;
}

// #progressbar {
//   margin-bottom: 30px;
//   overflow: hidden;
//   color: lightgrey;
// }

#progressbar .active {
  color: $pink;
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 33%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f007";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f030";
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f087";
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px; 
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: $pink;
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: $pink;
}


.fit-image {
  width: 50%;
  object-fit: cover;
  margin:20px auto;
  display: block;
}
.te-su{
  color:$pink;
  margin-bottom:10px;
  font-size:50px;
}
.fs-title.t{
  padding:30px 0 0px;
  font-size:30px;
  font-weight: 600;
}

[type="radio"]:checked,
[type="radio"]:not(:checked),
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label{
  position: relative;
  cursor: pointer;
  line-height: 1;
  display: inline-block;
  color: #666;
  padding: 12px 20px;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: transparent;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $pink;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  right: 0;
  bottom: 0px;
  content: "";
  height: 100%;
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0px;
  left: 0;
  border: 1px solid $pink;
  border-radius: 20px;
  transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}