@import 'variables.scss';
@import 'popup.scss';

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
} 
body{
    // background:$primaryColor;
}  
.container{
    width:1180px;
    margin:0 auto;
    @media only screen and (max-width: 991px) {
            width:100%;
            padding: 0 20px;
    }
}
p{
    font-family: $fontPara;
    font-size:13px;
    font-weight:400;
}
h1, h2, h3, h4, h5, h6{
    font-family: $fontHead;
    }
a{
    text-decoration: none;
}
.heading{
    position: relative;
    h1 {
        text-transform: capitalize;
        &:before {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 60px;
            height: 2px;
            content: "";
            background-color: $pink;
            font-weight:900
        }
    }
    p {
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: $pinkgrey;
        text-align: center;
        padding-bottom: 10px;
      }
}

  .alt-two h1 {
    text-align:center;
  }
  .alt-two h1:before {
    left:50%; margin-left:-30px;
  }

.section{
    padding: 70px 0 40px;
    position:relative;
}
button:focus:not(:focus-visible){
    box-shadow: none;
}

#button-top {
    display: inline-block;
    background-color: $pink;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    box-shadow:1px 1px 3px #000;
    svg{
        rotate:-90deg;
        margin-top:10px;
    }
    &:hover{
        cursor: pointer;
        background-color: #333;
        border:1px solid $pink;
    }
  }
  #button-top:active {
    background-color: #555;
  }
  #button-top.show {
    opacity: 1;
    visibility: visible;
  }
main{
    margin-top:120px;
} 

.header{
    width: 100%;
    padding: 15px 0;
    position: fixed;
    z-index:9999;
    box-shadow: 1px 1px 5px #e5e5e5;
    top: 0;
    background: $white;
    .inner{
        width:1180px;
        display: flex;
        margin:auto;
        justify-content: space-between;
        align-items: center;
        img{
            width:200px;
        }
        nav{
            display: inline-block;
            a{
                color:$black;
                margin-left:20px;
                text-transform: uppercase;
                img{
                    width:25px;
                }
            }
            
            a.btn{                
                @include btn;
                padding:10px 16px;
            img{
                margin-right:5px;
                }
            }
        }
        @media only screen and (max-width: 991px) {
            width:100%;
            padding: 0 20px;
        }
    }
}
.banner{
    padding:30px 0;
    width: 100%;
    // box-shadow: 1px 1px 6px #cecece;
    height: 100px;
    background:$pink;
}
.accordion-button:not(.collapsed){
    background-color:transparent;
    .arrow{
        rotate: 30deg;
        transition: rotate 2s ease;
        box-shadow:none;
    }
}
#countries{
    border: 1px solid #cecece;
    width: 800px;
    margin: 50px auto;
    border-radius: 6px;
}
.accordion{
    padding:20px 0;
    // box-shadow: 1px 1px 6px #000;
    margin-bottom:30px;
    .accordion-item{
        // background-color:$primaryColor;
        .accordion-header{
            padding: 15px 20px 0px 20px;
            .accordion-button{
                border-bottom: 1px solid $pinkgrey;
                position:relative;
                padding: 0px 0px 12px 15px;
                
                img{
                    width:25px;
                }
                span{
                    padding-left: 15px;
                    font-family: $fontHead;
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                .arrow{
                    right:20px;
                    position: absolute;
                    rotate: 0deg;
                    transition: rotate 2s ease;
                    width:20px;
                }
                &:after{
                    display: none;
                }
                &:hover, &:active{
                    span{
                        color:$pink;
                    }
                }
            }
        }
        .accordion-body{
            padding:10px 20px;
            .card-body{
                a{
                    color:$black;
                    font-family: $fontHead;
                    font-size:14px;
                }
                hr{
                    border-top: 1px solid #c25d6f;
                    margin: 7px 0;
                }
                ul{
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    padding-left:0;
                    li{
                        padding: 7px 15px;
                        font-size: 12px;
                        @include border(1px, #cecece);
                        border-radius: 20px;
                        margin: 5px 5px;
                        a{
                            color:$black;

                        }
                        &:hover{
                            @include border(1px, $pink);
                        }
                    }
                }
            }
        }    
    }
    @media only screen and (max-width: 991px) {
        margin-bottom: 40px;
    }
}

footer{
    padding: 50px 0 0px;
    .innerF{
        padding-bottom: 20px;
        img{
            width:200px;
            margin:auto;
            display: block;
            margin-bottom:30px;
        }
        p{
            text-align: center;
            a{
                color:$pink;
                padding:0 15px;
                font-size:18px;
                font-family: $fontHead;
                letter-spacing: .5px;
            }
        }
    }
    .copyright{
        padding:20px 0 0 0;
        border-top: 1px solid #c25d6f;
        p{
            color:#7b7b7b;
            text-align: center;
            font-size: 14px;
        }
    }
}

.form-control:focus, .form-select:focus{    
    box-shadow:none;
}
.form-control::placeholder{
    color:#c25d6f;
}
input::-webkit-input-placeholder{
    color:#c25d6f;
}
p, h1, h2, h3, h4, h5, h6{
    color:$black;
}

.hero{
    background-image: url('/images/region-bg.jpg');
    background-color:#fff;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: Center center;
    height:100vh;
    position:relative;
    z-index:3;

    .search{
        padding:5px 0;
        margin-top:18%;
        position:relative;
        z-index:2;
        h1{
            font-family:$fontHead;
            color:$white;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: 0px;
            margin: 30px;
            text-align: center;
            font-size: 70px;
            text-shadow: 1px 1px #c25d6f;
        }
        .scroll{
            width: 65px;
            height: 65px;
            border-radius: 50px;
            background: pink;
            margin: 20px auto;
            padding:4px 16px;
            background:$pink;
            .mouse-wheel {
                height: 30px;
                margin: 2px auto 0;
                display: block;
                width: 30px;
                background: transparent;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                border-radius: 50%;
                -webkit-animation: 1.6s ease infinite wheel-up-down;
                -moz-animation: 1.6s ease infinite wheel-up-down;
                animation: 1.6s ease infinite wheel-up-down;
                color: #000000;
                font-size: 20px; 
                svg{
                    rotate: (90deg);
                }}
              
              @keyframes wheel-up-down {
                0% {
                  margin-top: 2px;
                  opacity: 1; }
                30% {
                  opacity: 1; }
                100% {
                  margin-top: 20px;
                  opacity: 0; } }

        }

        .btn{
            width:80%;
            @include searchbox;
            svg{
                position:absolute;
                right:20px;
            }
        }
    }
}

.seacrhResult{
    .btn{
        width:100%;
        @include searchbox;
        margin:20px 0;
        svg{
            position:absolute;
            right:20px;
        }
    }
}
.breadcrumbs-container{
    padding-top:20px;
    padding-bottom:20px;    
    a,span{
        color:$black;
        font-size:16px;
        font-weight:400;
        text-transform: capitalize;
        &:hover{
            color:$pink;
        }
    }
    a.active{
        color:$pink;
        font-weight:500;
    }
}

.intro{
    h1{
        // margin-bottom:20px;
        // color:$pink;
        // font-size:50px;
        // letter-spacing: 1px;
        
    padding-top:20%;
    }
    p{
        font-weight:400;
        line-height: 30px;
        text-align: left;
        font-size:16px;
    }
    img{
        width:100%;
    }
}

.cardBox{
    padding-bottom: 15px;
    h2{
        font-style: italic;
        text-align: center;
        color:$pink;
        font-size: 25px;
    }
}
.card{
    margin: 30px 0px;
    border: 0;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #e7e4e4;
    @include border(1px, #cecece);
    img{
     border-radius: 6px 6px 0 0;
    }
     .inner{
     padding:30px 20px;
         h3{
             font-size: 25px;
             margin-bottom: 15px;
         }
         p{               
             margin-bottom:30px;
         }
         a{
             width: 45px;
             height: 45px;
             background: $pink;
             display: block;
             border-radius: 50px;
             position: absolute;
             right: 30px;
             padding:9px;
             svg{
                 rotate: -45deg;
             }
         }
     }
 }

.location-banner{
    position:relative;
    margin:20px 0;
    img{
        width:100%;
        border-radius: 6px;
    }
    p{
        position:absolute;
        bottom:15px;
        left:25px;
        font-family: $fontHead;
        font-weight: 500;
        color:$white;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: .2px;
    }
}

// login Form

/* The container */
.c-checkbox{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    a{
        color:$pink;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
        /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
  }
  
  /* On mouse-over, add a grey background color */
  .c-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .c-checkbox input:checked ~ .checkmark {
    background-color: $pink;
  }
  
  /* Show the checkmark when checked */
  .c-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .c-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 6px;
    height: 13px;
    border: solid $white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


.registerForm{
    width: 40%;
    margin: auto;
    text-align: center;
    background: #ffffff8a;
    padding: 50px 30px;
    @include border(1px, #cecece);
    border-radius: 6px;
    h3{
        margin-bottom:10%;
    }
    div{        
        margin-bottom:20px;
        input{
            @include inputFeild;
        }

        small{
            color:$pink;
            text-align:left;
        }
    }
    p{
        font-weight:400;
        font-size:14px;
        a{
            color:$pink;
            font-weight:500;
        }

    }
    .btn{
        @include btn;
        padding:12px 40px;
        width:100%;
        margin-bottom:20px;
    }
}

// single profile

.back {
    padding:20px 10px;
    font-size:18px;
    line-height: 18px;
    border-bottom:1px solid $pinkgrey;
    img{
        margin-right:7px;
        margin-top:-5px;
    }
}
.profilegallery{
    img{
        width:100%;
    }
}